* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* ------- GLOBAL COLORS */
--clr-green: #495E57;
--clr-yellow: #F4CE14;
--clr-black: #000000;
--clr-white: #FFFFFF;
--clr-grey: #D9d9d9;
}


/* ------- GLOBAL FONTS */
@font-face {
  font-family: "MarkaziText-Medium";   
  src: local("MarkaziText-Medium"),
    url("./icons_assets/fonts/MarkaziText-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MarkaziText-Regular";   
  src: local("MarkaziText-Regular"),
    url("./icons_assets/fonts/MarkaziText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-ExtraBold";   
  src: local("Karla-ExtraBold"),
    url("./icons_assets/fonts/Karla-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Bold";   
  src: local("Karla-Bold"),
    url("./icons_assets/fonts/Karla-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Medium";   
  src: local("Karla-Medium"),
    url("./icons_assets/fonts/Karla-Medium.ttf") format("truetype");
}

h1 {
  font-family: "MarkaziText-Medium" ;
  font-size: 60px;
}

h2 {
  font-family: "MarkaziText-Regular" ;
  font-size: 40px;
}

h3 {
  font-family: "Karla-ExtraBold" ;
  font-size: 20px;
  text-transform: uppercase;
}

.heading-m {
  font-family: "Karla-Medium" ;
  font-size: 18px;
  font-weight: bold;
}

.body-m {
  font-family: "Karla-Medium" ;
  font-size: 18px;
  line-height: 1.5;
}

.body-s {
  font-family: "Karla-Medium" ;
  font-size: 16px;
  line-height: 1.5;
}



/* ------- BUTTON STYLES */

.btn_primary {
  border-radius: 16px;
  background: var(--clr-yellow);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 11px 27px;
  color: var(--clr-black);
  font-family: "Karla-Bold" ;
  font-size: 16px;
  line-height: 150%;
  border: none;
}

.btn_primary:hover {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-yellow);
}

.btn_primary:active {
  background-color: var(--clr-yellow);
  color: var(--clr-black);
}

.btn_secondary {
  border-radius: 16px;
  background: var(--clr-green);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 11px 27px;
  color: var(--clr-white);
  font-family: "Karla-Bold" ;
  font-size: 16px;
  line-height: 150%;
  border: none;
}

.btn_secondary:hover {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-green);
  color: var(--clr-green)
}

.btn_secondary:active {
  background-color: var(--clr-green);
  color: var(--clr-white);
}


/* ------- NAVBAR STYLES */

nav {
  background-color: var(--clr-green);
  display: flex;
  font-family: "Karla-Bold" ;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 30px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--clr-white);
  cursor: pointer;
}

nav ul li a:hover {
  color: var(--clr-yellow);
}


/* ------- MAIN STYLES */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ------- HEADER STYLES */

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--clr-grey);
  gap: 70px;
  padding: 50px 30px;
}

.hero-description {
  width: 30%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-description  span {
  margin-top: 30px;
}

.hero-description button {
  justify-self:end;
  margin-top: auto;
  margin-bottom: 30px;
}


/* -------  SPECIALS STYLES */

.specials {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px 0;

}

.specials-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specials-cards {
  height: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.special-card {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--clr-grey);
  border-radius: 8px;

}

#special-img {
  width: 100%;
  }

.special-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  }
  
.card-name-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
  }

.special-card button {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: auto;
}

/* -------  REVIEWS STYLES */

.testimonials {
  background-color: var(--clr-green);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.testimonials-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.testimonials-card-container {
  padding: 30px 0;
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; 

}

.testimonials-card {
 border-radius: 8px;
  background-color: var(--clr-grey);
  padding: 25px;
  display: flex;
  gap: 30px;
}

.testimonials-card img {
  border-radius: 50%;
}

.testimonials-card-header {
  text-align: center;
}

.testimonials-card-header h4,
.review-text {
  margin-top: 15px;
}

.star {
  padding: 3px;
  color: var(--clr-green);
}

/* -------  ABOUT STYLES */

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 50px 30px;
}

.about-description {
  width: 30%;
  display: flex;
  flex-direction: column;
 gap: 20px;
}


/* -------  FOOTER STYLES */

footer {
  background-color: var(--clr-grey);
  display: flex;
  font-family: "Karla-Medium" ;
  font-size: 14px;
  text-transform: uppercase;
  padding: 40px 30px;
  color: var(--clr-green);
}

.footer-content {
  display: flex;
  width: 80%;
  justify-content: space-evenly;

}

.footer-nav-links {
  display: flex;
  gap: 50px;
}

footer ul {
  list-style-type: none;
  margin-top: 15px;
  text-align: center;

}

footer ul li a {
  text-decoration: none;
  color: var(--clr-green);
  cursor: pointer;
  line-height: 1.5;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer p {
  font-weight: bold;
}
